// Gradient colors
$gradient-stop-1: #49a09d;
$gradient-stop-2: #5f2c82;


// Color scheme 1 - Bright and contrasty
$blue: #1D2973;
$red: #F62E4B;
$green: #46D7AC;
$light-blue: #48B7EE;
$white: #fff;
$black: #141414;

// Color scheme 2 - Lively and contrasty
